In [2]:
import numpy as np
import pandas as pd
import json
from utils import *
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from keras.models import Model
from keras.layers import Dense, Input, Dropout, LSTM, Activation
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
from keras.initializers import glorot_uniform
from sklearn import preprocessing
%matplotlib inline

In [4]:
df = pd.DataFrame(columns=['postText','truthClass'])
with open('data/clickbait_data.txt') as data:
    for sentence in data:
        positive_case = {'truthClass': 1, 'postText': sentence}
        df = df.append(positive_case, ignore_index = True)
df.head()

                                            postText truthClass
0                               Should I Get Bings\n          1
1    Which TV Female Friend Group Do You Belong In\n          1
2  The New "Star Wars: The Force Awakens" Trailer...          1
3  This Vine Of New York On "Celebrity Big Brothe...          1
4  A Couple Did A Stunning Photo Shoot With Their...          1

In [15]:
with open('data/non_clickbait_data.txt', encoding='utf-8') as data:
    for sentence in data:
        negative_case = {'truthClass': 0, 'postText': sentence}
        df = df.append(negative_case, ignore_index = True)
df = df.sample(frac=1)
df.head()

                                                postText truthClass
49117  Justice Dept. Investigates Markit Over Derivat...          0
48283             Helicopter crash in Turkey kills six\n          0
36871  South Africa defeats Wales 43-17 in rugby test...          0
47268  Criminal appeals denied for American Evangelis...          0
27283  BP report into Gulf of Mexico disaster lays bl...          0

In [32]:
import string
import re
def cleanText(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = re.sub(r'[^\w\s]', '', text) 
    text = text[:-1]
    return text
df['postText'].dropna(inplace=True)
df['postText'] = df['postText'].apply(cleanText)
df.head()

                                                postText truthClass
49117  justice dept investigates markit over derivatives          0
48283               helicopter crash in turkey kills six          0
36871  south africa defeats wales 4317 in rugby test ...          0
47268   criminal appeals denied for american evangelists          0
27283  bp report into gulf of mexico disaster lays bl...          0

In [34]:
maxLen = 0
for i in range(len(df)):
    sentence = df["postText"][i]
    if len(sentence.split()) > maxLen:
        maxLen = len(sentence.split())
        maxstr = sentence
maxLen

26

In [35]:
word_to_index, index_to_word, word_to_vec_map = read_glove_vecs('glove.6B/glove.6B.50d.txt')

In [ ]:
train, test = train_test_split(df, test_size=0.1)
X_train, Y_train = np.array(train["postText"].tolist()), np.array(train["truthClass"].tolist())
X_test, Y_test = np.array(test["postText"].tolist()), np.array(test["truthClass"].tolist())
print(X_train.shape)
print(X_test.shape)